body {
  background-color: #131313;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.home-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #131313;
}

.home-container {
  font-family: Lato, sans-serif;
  color: #fff;
}

.content-section {
  position: absolute;
  width: 100vw;
  height: 1000vh;
}

.content-background {
  position: absolute;
  top: 1px;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 19, 19, 0.65)), to(rgba(19, 19, 19, 0.65))), url('../images/hiclipart.com-1.png');
  background-image: linear-gradient(180deg, rgba(19, 19, 19, 0.65), rgba(19, 19, 19, 0.65)), url('../images/hiclipart.com-1.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.sticky-container {
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.end-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.end-container {
  color: #fff;
}

.content-text-container {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 21;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.content-text-wrapper {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  padding-right: 80px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}

.content-text-wrapper._1 {
  width: 30vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.content-text-wrapper._2 {
  width: 30vw;
}

.content-text-wrapper._3 {
  width: 30vw;
}

.content-text-wrapper._4 {
  width: 30vw;
}

.content-text-wrapper._5 {
  width: 30vw;
}

.content-text-wrapper._6 {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 30vw;
}

.content-text-wrapper._7 {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 30vw;
}

.content-text-wrapper._0 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  opacity: 0;
}

.sticky-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Oswald, sans-serif;
  color: #000;
  font-size: 25px;
  font-weight: 300;
}

.content-text.white {
  color: #fff;
}

.footer-container {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 50;
  padding: 10px;
  color: #999;
  font-size: 12px;
  line-height: 12px;
  font-style: italic;
  text-align: center;
}

.footer-link {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #888;
}

.footer-link:hover {
  color: #eee;
}

.lottie-animation {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: block;
  width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  mix-blend-mode: color;
  -o-object-fit: fill;
  object-fit: fill;
}

.dust {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  overflow: visible;
  width: 300vw;
  height: 40vh;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  background-image: url('../images/dust2.png');
  background-size: 33.33%;
}

.div-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-image: url('../images/Clouds-PNG-Pic.png'), url('../images/Long_Fluffy_Cloud_Transparent_PNG_Clip_Art.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
}

.image {
  display: inline-block;
  height: 40vh;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.clouds {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-bottom: 0px;
  padding-top: 0px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.body {
  background-color: #fff;
}

.div-block-2 {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/third-background.jpg');
  background-position: 50% 96%;
  background-size: auto;
}

.lottie-animation-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.cloud {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  overflow: visible;
  width: 300vw;
  height: 40vh;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  background-image: url('../images/Clouds-PNG-enlarged.png');
  background-position: 0% 0%;
  background-size: cover;
  -o-object-fit: contain;
  object-fit: contain;
}

@media screen and (max-width: 991px) {
  .content-text-container {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }

  .content-text-wrapper._1 {
    width: auto;
  }

  .content-text-wrapper._2 {
    width: auto;
  }

  .content-text {
    margin-left: auto;
    padding-top: 709px;
    padding-right: 191px;
    font-size: 15px;
  }

  .content-text.white {
    padding-top: 0px;
  }

  .lottie-animation {
    left: -50em;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 300vw;
  }

  .dust {
    background-size: cover;
  }
}

@media screen and (max-width: 479px) {
  .content-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .content-text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .content-text-wrapper._7 {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .content-text {
    font-size: 12px;
  }

  .lottie-animation {
    width: 200vw;
    margin-left: -215px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .dust {
    opacity: 0;
  }

  .cloud {
    height: 30vh;
  }
}