body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 6rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 31px;
  font-size: 2.8rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: -0.06em;
}

a {
  color: #2b3595;
  text-decoration: none;
}

.block-3 {
  position: -webkit-sticky;
  position: sticky;
  top: 34%;
  margin-bottom: 100px;
  padding: 48px 50px 56px;
  background-color: #ff887c;
  color: #0a027a;
  font-size: 28px;
  line-height: 1.4;
}

.col-left {
  position: relative;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.block-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 37.5%;
  margin-bottom: 100px;
  padding: 48px 50px 56px;
  background-color: #ff85f7;
  color: #0a027a;
  font-size: 28px;
  line-height: 1.4;
}

.col-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sub_div {
  width: 90%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.sub_div.cc-flex-h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sub_div.cc-flex-v {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.learn-icon {
  width: 200px;
  margin-top: -40px;
  margin-bottom: 0px;
  margin-left: -32px;
}

.block-4 {
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
  margin-bottom: 100px;
  padding: 48px 50px 56px;
  background-color: #fff200;
  color: #0a027a;
  font-size: 28px;
  line-height: 1.4;
}

.learn_right-text {
  padding-right: 0px;
  font-size: 36px;
  line-height: 1.2;
}

.lottie_wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  width: 100%;
  height: 100%;
}

.block-text {
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000;
  font-size: 15px;
  letter-spacing: -0.01em;
}

.text_left {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 0px;
  padding-right: 180px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.02em;
}

.section {
  position: relative;
  padding-top: 140px;
  padding-bottom: 160px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section.cc-no-padding-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.fullheight {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.fullheight.cc-gray {
  background-color: #f5f5f5;
}

.section.height-vw90 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.height-vw90.cc-gray {
  height: 90vh;
  background-color: #f5f5f5;
}

.section.halfheight {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.halfheight.cc-gray {
  background-color: #f5f5f5;
}

.section.halfheight.cc-end {
  padding-bottom: 180px;
}

.block {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 400px;
  min-height: 0px;
  margin-bottom: 100px;
  margin-left: 75vw;
  padding: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: transparent;
  font-size: 28px;
  line-height: 1.4;
  font-weight: 300;
}

.block._1 {
  position: static;
  top: 25%;
  z-index: 1;
  width: 300px;
  height: 300px;
  min-height: 300px;
  margin-left: 75vw;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  clear: none;
  background-color: transparent;
}

.block._2 {
  position: static;
  top: 25%;
  width: 300px;
  height: 300px;
  min-height: 300px;
  margin-bottom: 100px;
  padding: 0px;
  background-color: transparent;
}

.block._3 {
  position: static;
  top: 25%;
  min-height: 300px;
  background-color: transparent;
}

.block._7 {
  top: 25%;
  min-height: 300px;
  margin-bottom: 76px;
  padding-top: 40px;
  background-color: #fff;
  color: transparent;
}

.block._6 {
  top: 25%;
  min-height: 300px;
  background-color: transparent;
}

.block._5 {
  top: 25%;
  min-height: 300px;
  background-color: transparent;
}

.block._4 {
  top: 25%;
  min-height: 300px;
  background-color: transparent;
}

.block.end {
  background-color: transparent;
}

.block._7 {
  top: 25%;
  min-height: 300px;
  background-color: transparent;
}

.hero-title {
  display: inline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  text-align: center;
  letter-spacing: -0.07em;
}

.body {
  position: static;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.hero-sub {
  margin-top: 32px;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.main-wrapper {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.block-title {
  opacity: 0.2;
  font-size: 4rem;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.04px;
}

.container-2 {
  display: inline;
  max-width: 100vh;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.lottie-animation {
  position: -webkit-sticky;
  position: sticky;
  top: 0vh;
  z-index: -1;
  display: inline-block;
  overflow: visible;
  height: 100vh;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 0px;
  background-color: #def6ff;
  background-clip: content-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.main_div {
  display: block;
  overflow: visible;
  width: 100vw;
  height: 100vh;
}

.lottie-block-wrapper {
  position: relative;
  z-index: 1;
  background-color: #000;
}

@media screen and (max-width: 991px) {
  .block-3 {
    top: 30%;
  }

  .block-2 {
    top: 32%;
  }

  .col-right {
    margin-top: 24px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .sub_div.cc-flex-h {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .sub_div.cc-flex-v {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .block-4 {
    top: 34%;
  }

  .block {
    top: 28%;
  }

  .hero-title {
    font-size: 5.1rem;
  }
}

@media screen and (max-width: 767px) {
  .block-3 {
    margin-bottom: 40px;
  }

  .block-2 {
    margin-bottom: 40px;
  }

  .sub_div {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }

  .sub_div.cc-flex-h {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .block-4 {
    margin-bottom: 0px;
  }

  .learn_right-text {
    padding-right: 40px;
    padding-bottom: 60px;
  }

  .text_left {
    margin-bottom: 0px;
    padding-right: 40px;
    padding-bottom: 60px;
  }

  .section.height-vw90.cc-gray {
    height: 60vh;
  }

  .block {
    margin-bottom: 40px;
  }

  .hero-title {
    font-size: 4.4rem;
  }
}

@media screen and (max-width: 479px) {
  .block-3 {
    top: 26%;
    padding: 32px;
  }

  .block-2 {
    top: 28%;
    padding: 28px 32px 32px;
  }

  .sub_div {
    overflow: visible;
    padding-right: 28px;
    padding-left: 28px;
  }

  .learn-icon {
    margin-top: -30px;
  }

  .block-4 {
    top: 30%;
    padding: 28px 32px 32px;
  }

  .learn_right-text {
    padding-right: 0px;
    font-size: 28px;
  }

  .text_left {
    padding-right: 0px;
    padding-bottom: 20px;
    font-size: 28px;
  }

  .block {
    top: 24%;
    padding: 28px 32px 32px;
    font-size: 24px;
  }

  .block._1 {
    top: 20%;
  }

  .block._2 {
    top: 24%;
  }

  .block._3 {
    top: 28%;
  }

  .block._7 {
    top: 32%;
  }

  .hero-title {
    font-size: 3.4rem;
  }

  .hero-sub {
    line-height: 1.5;
  }
}